[user]
        name = Mário Silva
        email = mjgsilva@me.com
        signingkey = BD0099F4107615BF
[push]
        default = current
[core]
        excludesfile = /Users/mario/.gitignore_global
        editor = "NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim"
[commit]
	gpgsign = true
[diff]
        tool = meld
[difftool]
        prompt = false
[difftool "meld"]
        trustExitCode = true
        cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
        tool = meld
[mergetool]
        prompt = false
[mergetool "meld"]
        trustExitCode = true
        cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[gpg]
        program = gpg
